$body-bg: white;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1280px,
    xl: 1400px,
    xxl: 1720px,
);
$font-family-base: Verdana, Geneva, Tahoma, sans-serif;
$headings-font-family: $font-family-base;
//$headings-color: #ed2024;
$list-group-bg: #f3f0eb;

@import '../node_modules/bootstrap/scss/bootstrap.scss';